body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2; /* Light background color */
    background: linear-gradient(to bottom right, rgba(52, 152, 219, 0), rgba(144, 93, 12, 0.792)), url('FRIENDS2.jpg');
    background-size: cover; 
}

.container {
    display: grid;
    grid-template-rows: 100px 4fr 1fr; /* Added an extra row for spacing at the bottom */
    grid-template-columns: 1fr 1fr;
    gap: 20px; /* Added some spacing between grid items */
}

.meetup {
    height: 40px;
    grid-column: span 2; /* Use span to make it cover both columns */
    padding: 20px;
    color: #e9e9e9; /* Darker text color */
}

.event {
    margin: 20px;
    padding: 30px;
    grid-column: 1;
    grid-row: 2;
    background-color: #ffffff7b; /* White background */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
}

.picture {
    margin: 20px;
    height: 100px;
    grid-column: 2;
    grid-row: 2;
    height: 60%; /* Take full height of the grid cell */
    background-color: #ffffff; /* White background */
    border-radius: 10px; /* Rounded corners */
    overflow: hidden;
}

.picture img {
    height: 50px;
    width: 100%; /* Make the image fill the container */
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}

.subscribe {
    font-weight: bold; /* Use font-weight instead of font-style */
    border: none;
    height: 50px; /* Slightly reduced height */
    width: 100%; /* Take full width of the container */
    max-width: 350px; /* Limit the width for larger screens */
    background-color: #ffad00; /* Orange background color */
    color: #ffffff; /* White text color */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition */
}

.subscribe:hover {
    background-color: #b27c19; /* Darker orange on hover */
}

.functionality {
    grid-column: 2;
    grid-row: 3;
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
}
