*{
    font-family: sans-serif;
}

h1{
    background-color: aquamarine;
    border-radius: 5px;
    margin: 8%;
    text-align: center;
}

.element{
    border-radius: 3%;
    background-color: beige;
    margin: 5%;
}

.container{
    margin: 5%;
    background-color: aquamarine;
    text-align: center;
}

.text1{
    margin: 5%;
    text-align: center;
}

.banner h2{
    color: #fff;
    font-size:  80px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1cm;
}

.sec{
    background: #fff;
    padding: 100px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec.content{
    position:relative;
    text-align:center;
    width: 100%;
}



